# adsputils==1.4.2
git+https://github.com/adsabs/ADSPipelineUtils.git@v1.4.2
SQLAlchemy==1.3.16
SQLAlchemy-Utils==0.38.2
psycopg2-binary==2.9.3
boto3==1.22.13
Pillow==9.0.1
opensearch-py==2.0.0
alembic==1.8.0